.container {
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.slide-1 {
    background-image: url('Cadillac2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-2 {
    background-image: url('Cadillac2.1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    left: -50%;
}